ЗОДАЧИ НА ЗАВТРО:
ИЗ ДАТАССЕТА ИЩУ ВЕРМЯ ИГР И ПРАЙМТАЙМ ГЕРОЕВ(СЛОВАРЬ)(EARLY,MID,LATE) И ИХ ВИНРЕЙТ ДЛЯ ЭТИХ ЗНАЧЕНИЙ
ФУНКЦИЯ СР ВИНРЕЙТА ЧАРОВ В EARLY MID LATE У РАДИАНТ И ДАЙР

ПОДРЕДАКТИРУЙ ФУНКЦИЮ PREDICTION(ВЕРОЯТНОСТЬ ПОБЕДЫ В EARLY MID LATE) ДЛЯ КАЖДОГО ЭТАПА ИГРЫ

УДАЧИ НАХЕР КОЛИЧЕСТВО РЕНЖЕЙ


ПРИ ОБУЧЕНИИ ТАРГЕТ-ВРЕМЯ ИГРЫ, ДАТА-ПРОЦЕНТЫ СИЛЫ В ТАЙМ

In [27]:
import numpy as np
import pandas as pd
from enum import Enum
from itertools import combinations, product
import ast

In [28]:
class dota(Enum):
  ANTIMAGE = 1
  AXE = 2
  BANE = 3
  BLOODSEEKER = 4
  CRYSTAL_MAIDEN = 5
  DROW_RANGER = 6
  EARTHSHAKER = 7
  JUGGERNAUT = 8
  MIRANA = 9
  MORPHLING = 10
  SHADOW_FIEND = 11
  PHANTOM_LANCER = 12
  PUCK = 13
  PUDGE = 14
  RAZOR = 15
  SAND_KING = 16
  STORM_SPIRIT = 17
  SVEN = 18
  TINY = 19
  VENGEFULSPIRIT = 20
  WINDRUNNER = 21
  ZUUS = 22
  KUNKKA = 23
  LINA = 25
  LION = 26
  SHADOW_SHAMAN = 27
  SLARDAR = 28
  TIDEHUNTER = 29
  WITCH_DOCTOR = 30
  LICH = 31
  RIKI = 32
  ENIGMA = 33
  TINKER = 34
  SNIPER = 35
  NECROPHOS = 36
  WARLOCK = 37
  BEASTMASTER = 38
  QUEENOFPAIN = 39
  VENOMANCER = 40
  FACELESS_VOID = 41
  WRAITH_KING = 42
  DEATH_PROPHET = 43
  PHANTOM_ASSASSIN = 44
  PUGNA = 45
  TEMPLAR_ASSASSIN = 46
  VIPER = 47
  LUNA = 48
  DRAGON_KNIGHT = 49
  DAZZLE = 50
  CLOCKWERK = 51
  LESHRAC = 52
  FURION = 53
  LIFE_STEALER = 54
  DARK_SEER = 55
  CLINKZ = 56
  OMNIKNIGHT = 57
  ENCHANTRESS = 58
  HUSKAR = 59
  NIGHT_STALKER = 60
  BROODMOTHER = 61
  BOUNTY_HUNTER = 62
  WEAVER = 63
  JAKIRO = 64
  BATRIDER = 65
  CHEN = 66
  SPECTRE = 67
  ANCIENT_APPARITION = 68
  DOOM = 69
  URSA = 70
  SPIRIT_BREAKER = 71
  GYROCOPTER = 72
  ALCHEMIST = 73
  INVOKER = 74
  SILENCER = 75
  OUTWORLD_DESTROYER = 76
  LYCAN = 77
  BREWMASTER = 78
  SHADOW_DEMON = 79
  LONE_DRUID = 80
  CHAOS_KNIGHT = 81
  MEEPO = 82
  TREANT = 83
  OGRE_MAGI = 84
  UNDYING = 85
  RUBICK = 86
  DISRUPTOR = 87
  NYX_ASSASSIN = 88
  NAGA_SIREN = 89
  KEEPER_OF_THE_LIGHT = 90
  WISP = 91
  VISAGE = 92
  SLARK = 93
  MEDUSA = 94
  TROLL_WARLORD = 95
  CENTAUR = 96
  MAGNATAUR = 97
  SHREDDER = 98
  BRISTLEBACK = 99
  TUSK = 100
  SKYWRATH_MAGE = 101
  ABADDON = 102
  ELDER_TITAN = 103
  LEGION_COMMANDER = 104
  TECHIES = 105
  EMBER_SPIRIT = 106
  EARTH_SPIRIT = 107
  UNDERLORD = 108
  TERRORBLADE = 109
  PHOENIX = 110
  ORACLE = 111
  WINTER_WYVERN = 112
  ARC_WARDEN = 113
  MONKEY_KING = 114
  DARK_WILLOW = 119
  PANGOLIER = 120
  GRIMSTROKE = 121
  HOODWINK = 123
  VOID_SPIRIT = 126
  SNAPFIRE = 128
  MARS = 129
  RINGMASTER = 131
  DAWNBREAKER = 135
  MARCI = 136
  PRIMAL_BEAST = 137
  MUERTA = 138
  KEZ = 145

In [29]:
players2025 = pd.read_csv("data/players2025.csv")
players202601 = pd.read_csv("data/players202601.csv")
main_metadata2025 = pd.read_csv("data/main_metadata2025.csv")
main_metadata202601 = pd.read_csv("data/main_metadata202601.csv")
heroesdf = pd.read_csv("data/Constants.Heroes.csv")

players = pd.concat([players2025, players202601])
matches = pd.concat([main_metadata2025, main_metadata202601])

C:\Users\User\AppData\Local\Temp\ipykernel_9452\770066594.py:1: DtypeWarning: Columns (0: randomed, 1: pred_vict, 2: neutral_item_history, 3: is_roaming, 4: repicked) have mixed types. Specify dtype option on import or set low_memory=False.
  players2025 = pd.read_csv("data/players2025.csv")

In [ ]:
heroesdf['id']

TypeError: 'zip' object is not subscriptable

In [30]:
print(players["lane_role"].tolist()[5], players['lane'].tolist()[5], players["lh_t"].tolist()[1],players['hero_id'].apply(lambda x: dota(x).name).tolist()[5],players["match_id"].tolist()[:15], sep="\n\n")
print()

3.0

1.0

[0, 5, 10, 19, 27, 35, 43, 57, 66, 73, 84, 93, 109, 120, 133, 148, 160, 168, 180, 187, 187, 197, 216, 221, 222, 223, 225, 236, 240, 240, 253, 259, 276, 284, 286]

ABADDON

[8107483721, 8107483721, 8107483721, 8107483721, 8107483721, 8107483721, 8107483721, 8107483721, 8107483721, 8107483721, 8107511870, 8107511870, 8107511870, 8107511870, 8107511870]

In [31]:
def synergy(team: list):
    team = np.sort(np.array(team, dtype=np.int16))
    pairs = np.array(list(combinations(team, 2)), dtype=np.int16)
    values = np.fromiter(
        (pair_synergy.get((a, b), 0.5) for a, b in pairs),
        dtype=np.float32,
        count=len(pairs)
    )
    return values.mean()

In [32]:
def counter_synergy(radiant, dire):
  values = np.fromiter(
      (matchup_synergy.get((a,b), 0.0) for a,b in product(radiant,dire)),
      dtype = np.float32
  )
  return values.mean()

In [33]:
def time_strenght(team, duration, duration_ind = 0):
  if duration_ind == 0:
    if duration < 25:
        values = np.array([hero_stats_time.get(a, {}).get(1, 0.0) for a in team], dtype=np.float32)
    elif duration >= 25 and duration < 30:
        values = np.array([hero_stats_time.get(a, {}).get(2, 0.0) for a in team], dtype=np.float32)
    elif duration >= 30 and duration < 32.5:
        values = np.array([hero_stats_time.get(a, {}).get(3, 0.0) for a in team], dtype=np.float32)
    elif duration >= 32.5 and duration < 35:
        values = np.array([hero_stats_time.get(a, {}).get(4, 0.0) for a in team], dtype=np.float32)
    elif duration >= 35 and duration < 37.5:
        values = np.array([hero_stats_time.get(a, {}).get(5, 0.0) for a in team], dtype=np.float32)
    elif duration >= 37.5 and duration < 40:
        values = np.array([hero_stats_time.get(a, {}).get(6, 0.0) for a in team], dtype=np.float32)
    elif duration >= 40 and duration < 50:
        values = np.array([hero_stats_time.get(a, {}).get(7, 0.0) for a in team], dtype=np.float32)
    elif duration >= 50:
        values = np.array([hero_stats_time.get(a, {}).get(8, 0.0) for a in team], dtype=np.float32)
  else:
    values = np.array([hero_stats_time.get(a, {}).get(duration_ind, 0.0) for a in team], dtype=np.float32)
  return values.mean()

In [34]:
'''
data [r1,r2,r3,r4,r5,d1,d2,d3,d4,d5]
target win (0 - radiant 1 dire)
'''
df = players.merge(matches, left_on='match_id', right_on='match_id', how = 'left')
df.rename(columns = {'duration_x':'duration'}, inplace = True )
df.rename(columns = {'radiant_win_x':'radiant_win'}, inplace = True )
df['isRadiant'] = np.where(df['isRadiant']==True, '1', '0').astype(int)
df.rename(columns = {'isRadiant':'teams'}, inplace = True )
df['radiant_win'] = np.where(df['radiant_win']==True, '1', '0').astype(int)

df = df[['match_id', 'hero_id', 'player_slot', 'teams',
             'win', 'radiant_win','duration', 'gold_t', 'lane_role']].dropna()
# df = df[df['duration'] >= 20].copy()
# df = df.drop(df[df['gold_t'] == []].index)
# df = df[len(df['gold_t'].split(', ')) >= 20].copy()
df['gold_t'] = df['gold_t'].apply(ast.literal_eval)
df = df[df['gold_t'].apply(len) >= 15]
df['id'] = df.groupby('match_id').ngroup()
df['gold10'] = df['gold_t'].apply(lambda x: x[10])
df['_grp'] = df.index // 5
df['position'] = (
    df
    .sort_values(['_grp', 'lane_role', 'gold10'])
    .groupby('_grp')
    .cumcount()
    .map(dict(enumerate(np.array([5,1,2,4,3]))))
)

df = df.sort_index().drop(columns=['_grp'])

In [ ]:
print(df.info())
d1 = df.copy()
d1['hero_id'] = d1['hero_id'].apply(lambda x: dota(x).name)

<class 'pandas.DataFrame'>
Index: 321250 entries, 0 to 323329
Data columns (total 12 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   match_id     321250 non-null  int64
 1   hero_id      321250 non-null  int64
 2   player_slot  321250 non-null  int64
 3   teams        321250 non-null  int64
 4   win          321250 non-null  float64
 5   radiant_win  321250 non-null  int64
 6   duration     321250 non-null  int64
 7   gold_t       321250 non-null  object
 8   lane_role    321250 non-null  float64
 9   id           321250 non-null  int64
 10  gold10       321250 non-null  int64
 11  position     321250 non-null  int64
dtypes: float64(2), int64(9), object(1)
memory usage: 31.9+ MB
None

,match_id,hero_id,player_slot,teams,win,radiant_win,duration,gold_t,lane_role,id,gold10,position
0,8107483721,AXE,0,1,0.0,0,2059,"[0, 287, 377, 607, 1107, 1482, 1865, 2188, 290...",3.0,0,4418,3
1,8107483721,SHADOW_FIEND,1,1,0.0,0,2059,"[0, 374, 670, 1153, 1608, 2047, 2439, 2996, 34...",2.0,0,4616,2
2,8107483721,TROLL_WARLORD,2,1,0.0,0,2059,"[0, 325, 657, 1107, 1485, 1929, 2402, 2938, 36...",1.0,0,4822,1
3,8107483721,WARLOCK,3,1,0.0,0,2059,"[0, 169, 259, 406, 496, 586, 676, 815, 1097, 1...",1.0,0,1411,5
4,8107483721,SKYWRATH_MAGE,4,1,0.0,0,2059,"[0, 169, 296, 437, 576, 666, 756, 846, 1024, 1...",3.0,0,1578,4
5,8107483721,ABADDON,128,0,1.0,0,2059,"[0, 243, 534, 889, 1375, 1823, 2222, 2686, 314...",3.0,0,4179,3
6,8107483721,NECROPHOS,129,0,1.0,0,2059,"[0, 324, 701, 1041, 1380, 1871, 2296, 3067, 38...",2.0,0,5131,2
7,8107483721,TEMPLAR_ASSASSIN,130,0,1.0,0,2059,"[0, 319, 893, 1199, 1688, 2400, 2968, 3416, 41...",1.0,0,5327,1
8,8107483721,ZUUS,131,0,1.0,0,2059,"[0, 169, 699, 808, 898, 1047, 1219, 1649, 1883...",1.0,0,2293,5
9,8107483721,LION,132,0,1.0,0,2059,"[0, 217, 307, 397, 524, 704, 794, 884, 1136, 1...",3.0,0,1672,4
10,8107511870,SHADOW_FIEND,0,1,0.0,0,1856,"[0, 408, 617, 1060, 1718, 2055, 2560, 3369, 37...",2.0,1,4804,2
11,8107511870,OMNIKNIGHT,1,1,0.0,0,1856,"[0, 170, 260, 418, 553, 872, 1070, 1264, 1552,...",1.0,1,1887,5
12,8107511870,RUBICK,2,1,0.0,0,1856,"[0, 216, 403, 493, 674, 764, 994, 1084, 1312, ...",3.0,1,1772,4
13,8107511870,URSA,3,1,0.0,0,1856,"[0, 325, 733, 1405, 1865, 2526, 3167, 3704, 45...",1.0,1,5442,1
14,8107511870,MAGNATAUR,4,1,0.0,0,1856,"[0, 279, 512, 777, 1190, 1631, 2073, 2535, 305...",3.0,1,3818,3
15,8107511870,FACELESS_VOID,128,0,1.0,0,1856,"[0, 256, 662, 1043, 1398, 1855, 2312, 2797, 32...",1.0,1,4656,1
16,8107511870,INVOKER,129,0,1.0,0,1856,"[0, 321, 411, 501, 591, 870, 1078, 1447, 1832,...",2.0,1,2527,2
17,8107511870,SKYWRATH_MAGE,130,0,1.0,0,1856,"[0, 170, 260, 350, 485, 575, 710, 846, 936, 10...",3.0,1,1412,4
18,8107511870,AXE,131,0,1.0,0,1856,"[0, 282, 648, 858, 1260, 1747, 2076, 2599, 283...",3.0,1,4075,3
19,8107511870,SHADOW_DEMON,132,0,1.0,0,1856,"[0, 170, 301, 430, 565, 655, 745, 880, 970, 11...",1.0,1,1346,5
20,8107808159,VENGEFULSPIRIT,0,1,0.0,0,2242,"[0, 90, 180, 422, 549, 639, 1060, 1218, 1373, ...",3.0,2,1934,4
21,8107808159,LINA,1,1,0.0,0,2242,"[0, 212, 685, 1014, 1435, 2275, 2599, 3074, 37...",2.0,2,5080,2
22,8107808159,VENOMANCER,2,1,0.0,0,2242,"[0, 90, 180, 357, 447, 738, 872, 993, 1120, 12...",1.0,2,1310,5
23,8107808159,BEASTMASTER,3,1,0.0,0,2242,"[0, 127, 277, 430, 827, 1015, 1105, 1602, 1916...",3.0,2,2322,3
24,8107808159,DROW_RANGER,4,1,0.0,0,2242,"[0, 162, 442, 743, 1042, 1834, 2178, 2581, 300...",1.0,2,3936,1
25,8107808159,CLINKZ,128,0,1.0,0,2242,"[60, 498, 1093, 1583, 1996, 2626, 3416, 3857, ...",1.0,2,5344,5
26,8107808159,ENCHANTRESS,129,0,1.0,0,2242,"[60, 365, 557, 714, 844, 974, 1202, 1445, 1689...",4.0,2,2210,3
27,8107808159,DARK_SEER,130,0,1.0,0,2242,"[0, 288, 919, 1124, 1785, 2099, 2547, 2948, 35...",3.0,2,4897,4
28,8107808159,PUCK,131,0,1.0,0,2242,"[60, 463, 720, 1179, 1430, 1599, 1940, 2426, 3...",2.0,2,4298,1
29,8107808159,TUSK,132,0,1.0,0,2242,"[328, 578, 718, 827, 1102, 1232, 1627, 1762, 1...",3.0,2,2426,2
30,8107860205,PHOENIX,0,1,1.0,1,1608,"[0, 356, 639, 961, 1330, 1743, 2257, 2715, 323...",2.0,3,4096,2
31,8107860205,DAWNBREAKER,1,1,1.0,1,1608,"[0, 178, 344, 520, 825, 998, 1412, 1682, 2047,...",3.0,3,2891,3
32,8107860205,RUBICK,2,1,1.0,1,1608,"[0, 130, 269, 471, 561, 737, 918, 1318, 1492, ...",3.0,3,1826,4
33,8107860205,ABADDON,3,1,1.0,1,1608,"[0, 130, 239, 480, 586, 676, 766, 991, 1149, 1...",1.0,3,1329,5
34,8107860205,TROLL_WARLORD,4,1,1.0,1,1608,"[0, 204, 445, 658, 930, 1315, 1597, 2064, 2432...",1.0,3,3307,1
35,8107860205,BRISTLEBACK,128,0,0.0,1,1608,"[0, 706, 905, 1333, 1629, 2197, 2583, 3111, 34...",1.0,3,4686,5
36,8107860205,ELDER_TITAN,129,0,0.0,1,1608,"[61, 385, 515, 691, 781, 926, 1216, 1494, 1662...",4.0,3,2088,3
37,8107860205,DRAGON_KNIGHT,130,0,0.0,1,1608,"[61, 310, 704, 962, 1524, 2052, 2509, 3008, 36...",3.0,3,4845,4
38,8107860205,OUTWORLD_DESTROYER,131,0,0.0,1,1608,"[61, 352, 512, 792, 970, 1420, 1698, 2097, 246...",2.0,3,3176,1
39,8107860205,SHADOW_DEMON,132,0,0.0,1,1608,"[329, 539, 629, 968, 1283, 1546, 1636, 1771, 1...",3.0,3,2130,2

In [36]:
dota(40)

In [37]:
data = (df.assign(player_slot=df["player_slot"] +(df.groupby(["id", "player_slot"])
.cumcount()+1))
.pivot_table(index="id", columns="player_slot",values="hero_id"))
hero_position = (
    df.groupby('hero_id')['position']
      .apply(list)
      .to_dict()
)
data.columns = range(data.shape[1])
data.columns = ['r_1','r_2','r_3','r_4','r_5','d_1','d_2','d_3','d_4','d_5']
data = data.merge(df[['id', 'duration']].drop_duplicates(subset=['id']), on='id', how='left')
data

,id,r_1,r_2,r_3,r_4,r_5,d_1,d_2,d_3,d_4,d_5,duration
0,0,2.0,11.0,95.0,37.0,101.0,102.0,36.0,46.0,22.0,26.0,2059
1,1,11.0,57.0,86.0,70.0,97.0,41.0,74.0,101.0,2.0,79.0,1856
2,2,20.0,25.0,40.0,38.0,6.0,56.0,58.0,55.0,13.0,100.0,2242
3,3,110.0,135.0,86.0,102.0,95.0,99.0,103.0,49.0,76.0,79.0,1608
4,4,126.0,6.0,40.0,136.0,135.0,67.0,38.0,106.0,138.0,110.0,2545
...,...,...,...,...,...,...,...,...,...,...,...,...
32120,32120,14.0,11.0,107.0,70.0,22.0,25.0,53.0,81.0,49.0,26.0,1557
32121,32121,35.0,14.0,136.0,138.0,107.0,36.0,46.0,9.0,110.0,102.0,2228
32122,32122,51.0,126.0,135.0,131.0,15.0,49.0,108.0,66.0,83.0,13.0,1991
32123,32123,21.0,23.0,78.0,138.0,84.0,100.0,19.0,33.0,128.0,72.0,3318
32124,32124,11.0,19.0,106.0,79.0,60.0,82.0,47.0,14.0,64.0,51.0,2021

In [38]:
data.head(10)

,id,r_1,r_2,r_3,r_4,r_5,d_1,d_2,d_3,d_4,d_5,duration
0,0,2.0,11.0,95.0,37.0,101.0,102.0,36.0,46.0,22.0,26.0,2059
1,1,11.0,57.0,86.0,70.0,97.0,41.0,74.0,101.0,2.0,79.0,1856
2,2,20.0,25.0,40.0,38.0,6.0,56.0,58.0,55.0,13.0,100.0,2242
3,3,110.0,135.0,86.0,102.0,95.0,99.0,103.0,49.0,76.0,79.0,1608
4,4,126.0,6.0,40.0,136.0,135.0,67.0,38.0,106.0,138.0,110.0,2545
5,5,52.0,94.0,14.0,79.0,129.0,97.0,31.0,113.0,51.0,70.0,3060
6,6,20.0,46.0,86.0,2.0,11.0,31.0,6.0,49.0,25.0,19.0,1612
7,7,66.0,39.0,49.0,86.0,61.0,18.0,11.0,87.0,88.0,98.0,1345
8,8,14.0,53.0,22.0,96.0,67.0,86.0,84.0,16.0,11.0,70.0,1494
9,9,93.0,21.0,71.0,48.0,27.0,86.0,104.0,84.0,74.0,72.0,1784

In [39]:
target = df.groupby('id').min()[['radiant_win']]
target

       radiant_win
id
0                0
1                0
2                0
3                1
4                0
...            ...
32120            1
32121            0
32122            0
32123            0
32124            0

[32125 rows x 1 columns]

In [40]:
teams_data = []
for index, row in data.iterrows():
    match_df = df[df['id'] == index]
    hero_pos_match = dict(zip(match_df['hero_id'], match_df['position']))
    radiant_heroes = row[['r_1','r_2','r_3','r_4','r_5']].astype(int)
    radiant_dict = {hero: hero_pos_match[hero] for hero in radiant_heroes}
    dire_heroes = row[['d_1','d_2','d_3','d_4','d_5']].astype(int)
    dire_dict = {hero: hero_pos_match[hero] for hero in dire_heroes}
    teams_data.append([radiant_dict, dire_dict, target.loc[index, 'radiant_win'], row['duration']])



teams = pd.DataFrame(
    teams_data,
    columns=['radiant', 'dire', 'radiant_win', 'duration']
)
teams

,radiant,dire,radiant_win,duration
0,"{2: 3, 11: 2, 95: 1, 37: 5, 101: 4}","{102: 3, 36: 2, 46: 1, 22: 5, 26: 4}",0,2059.0
1,"{11: 2, 57: 5, 86: 4, 70: 1, 97: 3}","{41: 1, 74: 2, 101: 4, 2: 3, 79: 5}",0,1856.0
2,"{20: 4, 25: 2, 40: 5, 38: 3, 6: 1}","{56: 5, 58: 3, 55: 4, 13: 1, 100: 2}",0,2242.0
3,"{110: 2, 135: 3, 86: 4, 102: 5, 95: 1}","{99: 5, 103: 3, 49: 4, 76: 1, 79: 2}",1,1608.0
4,"{126: 4, 6: 1, 40: 2, 136: 5, 135: 3}","{67: 1, 38: 3, 106: 2, 138: 4, 110: 5}",0,2545.0
...,...,...,...,...
32120,"{14: 3, 11: 2, 107: 4, 70: 1, 22: 5}","{25: 2, 53: 4, 81: 3, 49: 1, 26: 5}",1,1557.0
32121,"{35: 4, 14: 5, 136: 3, 138: 1, 107: 2}","{36: 1, 46: 2, 9: 4, 110: 5, 102: 3}",0,2228.0
32122,"{51: 5, 126: 2, 135: 3, 131: 4, 15: 1}","{49: 1, 108: 3, 66: 4, 83: 5, 13: 2}",0,1991.0
32123,"{21: 1, 23: 2, 78: 3, 138: 4, 84: 5}","{100: 5, 19: 2, 33: 3, 128: 4, 72: 1}",0,3318.0
32124,"{11: 1, 19: 5, 106: 2, 79: 4, 60: 3}","{82: 5, 47: 1, 14: 3, 64: 4, 51: 2}",0,2021.0

In [123]:
pos_stats = {}
for i, row in teams.iterrows():
    dire_team, radiant_team = row['dire'], row['radiant']
    for (a,b) in radiant_team.items():
        if (a,b) not in pos_stats:
            pos_stats[(a,b)] = {'matches': 0, 'wins': 0}
        pos_stats[(a,b)]['matches'] += 1
        if row['radiant_win'] == 1:
            pos_stats[(a,b)]['wins'] += 1
    for (a,b) in dire_team.items():
        if (a,b) not in pos_stats:
            pos_stats[(a,b)] = {'matches': 0, 'wins': 0}
        pos_stats[(a,b)]['matches'] += 1
        if row['radiant_win'] == 0:
            pos_stats[(a,b)]['wins'] += 1

for hero in heroesdf['id']:
    for pos in range(1,6):
        if (hero, pos) not in pos_stats:
            pos_stats[(hero, pos)] = {'matches': 2, 'wins': 1}




all_hero_matches = {}
for (hero, pos), dictionary in pos_stats.items():
    w, m = dictionary['wins'], dictionary['matches']
    if hero not in all_hero_matches:
        all_hero_matches[hero] = 0
    all_hero_matches[hero] += m


pos_parametr = {}
for hero, matches in all_hero_matches.items():
    for pos in range(1, 6):
        pos_parametr[(hero, pos)] = pos_stats[(hero, pos)]['matches'] / all_hero_matches[hero]



position_stats = {}
for hero, stats in pos_stats.items():
    x = stats['wins']/stats['matches']
    a = pos_parametr[hero]
    a = 1 - a
    position_stats[hero] = round((1 - a) * x + a * 0.5, 5)

print(sorted(position_stats.items(), key=lambda x: -x[1]))

[((66, 5), 0.57032), ((83, 5), 0.5653), ((33, 3), 0.55925), ((89, 5), 0.55187), ((61, 1), 0.54954), ((56, 1), 0.54833), ((62, 4), 0.54056), ((3, 5), 0.53797), ((82, 1), 0.53651), ((80, 1), 0.53096), ((90, 4), 0.52858), ((77, 3), 0.52842), ((114, 2), 0.52694), ((55, 3), 0.52626), ((79, 4), 0.52474), ((99, 3), 0.52036), ((89, 1), 0.52033), ((73, 1), 0.51911), ((145, 1), 0.51892), ((88, 4), 0.51867), ((90, 2), 0.5186), ((136, 3), 0.51836), ((5, 5), 0.51775), ((8, 1), 0.51737), ((136, 1), 0.51572), ((80, 3), 0.51548), ((11, 1), 0.51547), ((86, 4), 0.51492), ((61, 3), 0.51471), ((103, 5), 0.51456), ((57, 3), 0.51449), ((73, 4), 0.51446), ((83, 4), 0.51399), ((92, 1), 0.51376), ((38, 3), 0.51322), ((13, 2), 0.51316), ((9, 5), 0.51313), ((28, 2), 0.51299), ((106, 2), 0.51284), ((145, 2), 0.51237), ((85, 3), 0.51226), ((137, 2), 0.51167), ((46, 1), 0.51165), ((53, 2), 0.51145), ((93, 4), 0.51139), ((27, 4), 0.51084), ((53, 1), 0.5107), ((128, 5), 0.51051), ((128, 4), 0.5104), ((40, 5), 0.51013), ((84, 5), 0.51004), ((36, 1), 0.50999), ((50, 3), 0.50995), ((3, 4), 0.50981), ((15, 1), 0.50956), ((41, 3), 0.50948), ((113, 1), 0.50943), ((14, 3), 0.50936), ((52, 4), 0.50935), ((136, 4), 0.50903), ((77, 1), 0.5089), ((131, 5), 0.50867), ((83, 3), 0.5084), ((66, 4), 0.50824), ((40, 1), 0.5082), ((71, 3), 0.50818), ((131, 4), 0.50799), ((109, 1), 0.50796), ((51, 4), 0.50794), ((80, 5), 0.50774), ((40, 4), 0.50771), ((62, 3), 0.50769), ((65, 2), 0.50754), ((32, 4), 0.50734), ((52, 2), 0.50722), ((47, 3), 0.50695), ((110, 5), 0.50683), ((102, 1), 0.50663), ((97, 4), 0.50662), ((28, 3), 0.50641), ((54, 1), 0.50638), ((82, 5), 0.50635), ((103, 4), 0.50633), ((45, 5), 0.50627), ((45, 4), 0.50627), ((96, 3), 0.5062), ((68, 5), 0.50611), ((119, 5), 0.50594), ((50, 2), 0.5058), ((97, 2), 0.50571), ((83, 2), 0.5056), ((62, 2), 0.50559), ((22, 2), 0.50547), ((59, 2), 0.50544), ((57, 2), 0.50518), ((72, 1), 0.50514), ((113, 5), 0.50472), ((20, 2), 0.5047), ((126, 3), 0.50465), ((62, 5), 0.50455), ((103, 1), 0.50443), ((114, 4), 0.50424), ((34, 4), 0.50424), ((88, 5), 0.50419), ((98, 2), 0.50414), ((90, 3), 0.50413), ((77, 2), 0.50411), ((101, 5), 0.50389), ((61, 5), 0.50387), ((98, 3), 0.50385), ((38, 1), 0.5038), ((52, 5), 0.50377), ((102, 5), 0.50358), ((21, 3), 0.50358), ((85, 4), 0.50358), ((3, 2), 0.50348), ((39, 3), 0.50345), ((41, 4), 0.50341), ((40, 3), 0.50338), ((53, 5), 0.50335), ((108, 1), 0.50334), ((107, 5), 0.50324), ((78, 1), 0.50321), ((126, 2), 0.50318), ((13, 4), 0.50316), ((100, 2), 0.50315), ((113, 3), 0.50314), ((19, 1), 0.50311), ((57, 1), 0.50311), ((73, 3), 0.5031), ((137, 4), 0.50306), ((74, 5), 0.50295), ((23, 1), 0.50292), ((50, 5), 0.50276), ((1, 2), 0.50275), ((86, 2), 0.50272), ((32, 5), 0.50267), ((91, 4), 0.50263), ((91, 2), 0.50263), ((14, 1), 0.50257), ((86, 5), 0.50257), ((68, 4), 0.50256), ((6, 5), 0.50251), ((45, 2), 0.50251), ((4, 3), 0.5025), ((26, 2), 0.50248), ((53, 4), 0.50238), ((74, 1), 0.50236), ((41, 5), 0.50228), ((34, 5), 0.50228), ((99, 1), 0.50222), ((9, 2), 0.50219), ((58, 3), 0.50218), ((47, 1), 0.50217), ((94, 5), 0.50212), ((33, 1), 0.50208), ((57, 4), 0.50207), ((136, 2), 0.50202), ((15, 5), 0.50199), ((66, 3), 0.50194), ((66, 2), 0.50194), ((40, 2), 0.50193), ((88, 3), 0.50193), ((41, 2), 0.5019), ((20, 3), 0.50188), ((83, 1), 0.50187), ((58, 1), 0.50181), ((67, 4), 0.50178), ((53, 3), 0.50173), ((71, 1), 0.50171), ((64, 3), 0.50167), ((95, 5), 0.50166), ((50, 1), 0.50166), ((20, 1), 0.50165), ((55, 4), 0.50164), ((28, 1), 0.5016), ((82, 4), 0.50159), ((81, 5), 0.50158), ((61, 2), 0.50155), ((59, 3), 0.50155), ((38, 4), 0.50155), ((31, 4), 0.50151), ((123, 5), 0.50146), ((45, 3), 0.50146), ((58, 2), 0.50145), ((137, 1), 0.50139), ((77, 4), 0.50137), ((71, 4), 0.50133), ((60, 5), 0.50133), ((74, 3), 0.50133), ((29, 1), 0.50132), ((9, 3), 0.50131), ((9, 1), 0.50131), ((47, 5), 0.5013), ((100, 4), 0.50128), ((78, 5), 0.50128), ((3, 1), 0.50127), ((112, 3), 0.50126), ((4, 1), 0.50125), ((99, 5), 0.5012), ((99, 2), 0.5012), ((92, 2), 0.50115), ((98, 4), 0.50114), ((7, 4), 0.5011), ((42, 2), 0.50109), ((87, 4), 0.50104), ((33, 2), 0.50104), ((65, 4), 0.50103), ((90, 1), 0.50103), ((43, 1), 0.50101), ((79, 2), 0.50098), ((100, 1), 0.50098), ((88, 2), 0.50097), ((106, 4), 0.50096), ((39, 5), 0.50093), ((111, 2), 0.50088), ((89, 3), 0.50083), ((29, 5), 0.50083), ((79, 5), 0.50082), ((138, 5), 0.50082), ((128, 2), 0.50081), ((30, 3), 0.50081), ((69, 3), 0.50079), ((94, 2), 0.50077), ((48, 3), 0.50075), ((114, 3), 0.50074), ((12, 4), 0.50074), ((109, 2), 0.5007), ((32, 2), 0.50067), ((34, 1), 0.50065), ((45, 1), 0.50063), ((69, 4), 0.50063), ((87, 2), 0.50062), ((101, 1), 0.50058), ((35, 5), 0.50057), ((55, 1), 0.50055), ((46, 5), 0.50055), ((5, 1), 0.50055), ((106, 1), 0.50053), ((73, 5), 0.50052), ((87, 3), 0.50052), ((22, 3), 0.5005), ((29, 2), 0.5005), ((47, 4), 0.50043), ((51, 2), 0.50043), ((106, 3), 0.50042), ((64, 1), 0.50042), ((6, 4), 0.50042), ((5, 2), 0.50041), ((120, 1), 0.5004), ((129, 2), 0.5004), ((81, 4), 0.50039), ((68, 2), 0.50039), ((35, 3), 0.50038), ((48, 4), 0.50038), ((135, 3), 0.50036), ((121, 3), 0.50036), ((128, 1), 0.50035), ((11, 3), 0.50035), ((18, 3), 0.50035), ((95, 2), 0.50033), ((129, 5), 0.5003), ((86, 1), 0.50029), ((55, 5), 0.50027), ((37, 3), 0.50027), ((119, 1), 0.50026), ((8, 2), 0.50023), ((60, 2), 0.50022), ((46, 3), 0.50022), ((68, 1), 0.5002), ((68, 3), 0.5002), ((39, 2), 0.50019), ((101, 3), 0.50019), ((18, 4), 0.50018), ((10, 4), 0.50016), ((51, 3), 0.50014), ((96, 5), 0.50014), ((13, 5), 0.50013), ((120, 5), 0.50013), ((27, 3), 0.50012), ((19, 3), 0.50008), ((64, 2), 0.50008), ((71, 5), 0.5), ((121, 2), 0.5), ((72, 5), 0.5), ((111, 3), 0.5), ((109, 5), 0.5), ((32, 3), 0.5), ((63, 5), 0.5), ((73, 2), 0.5), ((16, 1), 0.5), ((49, 5), 0.5), ((30, 2), 0.5), ((61, 4), 0.5), ((38, 5), 0.5), ((42, 4), 0.5), ((78, 2), 0.5), ((2, 1), 0.5), ((25, 5), 0.5), ((85, 1), 0.5), ((121, 1), 0.5), ((91, 3), 0.5), ((48, 2), 0.5), ((113, 4), 0.5), ((2, 2), 0.5), ((1, 4), 0.5), ((12, 3), 0.5), ((54, 4), 0.5), ((11, 5), 0.49991), ((106, 5), 0.49989), ((17, 5), 0.49987), ((102, 2), 0.49987), ((17, 3), 0.49987), ((70, 4), 0.49987), ((7, 2), 0.49986), ((5, 4), 0.49986), ((96, 2), 0.49986), ((65, 3), 0.49983), ((25, 3), 0.49982), ((94, 4), 0.49981), ((84, 1), 0.49981), ((31, 3), 0.49978), ((109, 4), 0.49977), ((8, 4), 0.49977), ((135, 1), 0.49976), ((27, 2), 0.49976), ((126, 1), 0.49976), ((87, 1), 0.49969), ((88, 1), 0.49968), ((10, 3), 0.49968), ((34, 3), 0.49967), ((29, 4), 0.49967), ((77, 5), 0.49966), ((43, 5), 0.49966), ((109, 3), 0.49965), ((93, 3), 0.49965), ((62, 1), 0.49965), ((93, 2), 0.49965), ((28, 5), 0.49964), ((44, 3), 0.49964), ((13, 1), 0.49962), ((35, 1), 0.49962), ((120, 4), 0.4996), ((15, 4), 0.4996), ((49, 4), 0.49959), ((5, 3), 0.49959), ((6, 3), 0.49958), ((16, 4), 0.49955), ((16, 5), 0.49955), ((107, 2), 0.49954), ((8, 3), 0.49954), ((39, 4), 0.49953), ((39, 1), 0.49953), ((79, 1), 0.49951), ((52, 1), 0.49951), ((72, 2), 0.49951), ((72, 3), 0.49951), ((76, 5), 0.49951), ((126, 5), 0.49951), ((129, 4), 0.4995), ((54, 2), 0.4995), ((104, 5), 0.4995), ((14, 5), 0.49949), ((13, 3), 0.49949), ((131, 3), 0.49949), ((17, 1), 0.49948), ((70, 5), 0.49947), ((70, 3), 0.49947), ((98, 1), 0.49943), ((101, 2), 0.49942), ((11, 4), 0.49938), ((75, 2), 0.49938), ((69, 2), 0.49937), ((63, 2), 0.49937), ((112, 1), 0.49937), ((21, 1), 0.49935), ((31, 2), 0.49935), ((52, 3), 0.49934), ((102, 4), 0.49934), ((95, 3), 0.49934), ((95, 4), 0.49934), ((37, 2), 0.49933), ((99, 4), 0.49932), ((36, 3), 0.49931), ((7, 5), 0.49931), ((100, 3), 0.49931), ((135, 2), 0.49927), ((145, 3), 0.49927), ((145, 4), 0.49927), ((84, 3), 0.49926), ((108, 4), 0.49926), ((104, 1), 0.49925), ((75, 1), 0.49922), ((55, 2), 0.49918), ((7, 1), 0.49917), ((18, 2), 0.49912), ((111, 1), 0.49912), ((60, 1), 0.49911), ((129, 1), 0.4991), ((23, 2), 0.4991), ((23, 4), 0.4991), ((44, 4), 0.4991), ((23, 5), 0.4991), ((123, 3), 0.49909), ((114, 1), 0.49908), ((84, 2), 0.49907), ((69, 5), 0.49905), ((51, 1), 0.49901), ((104, 2), 0.49901), ((46, 4), 0.499), ((54, 3), 0.49899), ((131, 2), 0.49898), ((85, 2), 0.49898), ((86, 3), 0.49897), ((119, 3), 0.49897), ((25, 4), 0.49895), ((135, 5), 0.49891), ((123, 1), 0.49891), ((75, 3), 0.49891), ((108, 5), 0.49889), ((26, 3), 0.49887), ((71, 2), 0.49886), ((98, 5), 0.49886), ((96, 1), 0.49885), ((56, 3), 0.49885), ((79, 3), 0.49885), ((100, 5), 0.49882), ((67, 2), 0.49882), ((70, 2), 0.49881), ((65, 1), 0.4988), ((63, 4), 0.49875), ((69, 1), 0.49873), ((103, 2), 0.49873), ((3, 3), 0.49873), ((10, 5), 0.49871), ((96, 4), 0.4987), ((48, 5), 0.49869), ((111, 5), 0.49868), ((22, 5), 0.49867), ((26, 1), 0.49865), ((42, 5), 0.49864), ((1, 5), 0.49863), ((90, 5), 0.49862), ((28, 4), 0.49858), ((19, 5), 0.49856), ((76, 3), 0.49854), ((145, 5), 0.49854), ((12, 2), 0.49851), ((48, 1), 0.4985), ((31, 1), 0.49849), ((49, 1), 0.49847), ((82, 3), 0.49841), ((10, 2), 0.49839), ((44, 2), 0.49839), ((37, 1), 0.49839), ((2, 5), 0.49837), ((137, 5), 0.49833), ((104, 4), 0.49826), ((67, 5), 0.49822), ((17, 4), 0.49819), ((105, 1), 0.49817), ((37, 4), 0.49813), ((78, 4), 0.49808), ((59, 4), 0.49806), ((76, 1), 0.49805), ((97, 5), 0.49805), ((38, 2), 0.49803), ((110, 1), 0.49802), ((131, 1), 0.49796), ((36, 2), 0.49793), ((89, 2), 0.49793), ((36, 5), 0.49793), ((97, 1), 0.49792), ((138, 3), 0.49787), ((84, 4), 0.49777), ((108, 2), 0.49777), ((27, 1), 0.49774), ((92, 4), 0.49771), ((63, 3), 0.4977), ((56, 4), 0.4977), ((135, 4), 0.49769), ((107, 1), 0.49769), ((67, 3), 0.49763), ((81, 2), 0.49763), ((93, 5), 0.49758), ((66, 1), 0.49758), ((76, 4), 0.49757), ((72, 4), 0.49755), ((16, 2), 0.49753), ((89, 4), 0.49751), ((4, 5), 0.4975), ((54, 5), 0.49748), ((103, 3), 0.49747), ((114, 5), 0.49742), ((70, 1), 0.49736), ((46, 2), 0.49734), ((14, 2), 0.49733), ((44, 5), 0.49731), ((123, 2), 0.49727), ((8, 5), 0.49722), ((138, 2), 0.49721), ((74, 4), 0.4972), ((11, 2), 0.49719), ((119, 2), 0.49716), ((14, 4), 0.49712), ((60, 4), 0.49711), ((58, 4), 0.4971), ((12, 5), 0.49703), ((22, 1), 0.49702), ((110, 2), 0.49694), ((36, 4), 0.4969), ((60, 3), 0.49689), ((4, 2), 0.49688), ((4, 4), 0.49688), ((19, 4), 0.49681), ((105, 3), 0.49679), ((128, 3), 0.49677), ((30, 1), 0.49674), ((42, 3), 0.49673), ((138, 4), 0.49672), ((102, 3), 0.49669), ((21, 5), 0.49663), ((43, 4), 0.49663), ((2, 4), 0.49662), ((138, 1), 0.49656), ((56, 5), 0.49655), ((110, 3), 0.49641), ((58, 5), 0.49637), ((1, 3), 0.49634), ((91, 1), 0.49632), ((7, 3), 0.49615), ((18, 5), 0.49613), ((59, 5), 0.49611), ((120, 2), 0.49597), ((65, 5), 0.49589), ((21, 2), 0.49587), ((33, 5), 0.49584), ((35, 4), 0.49562), ((25, 1), 0.49561), ((92, 5), 0.49541), ((6, 2), 0.49539), ((80, 4), 0.49536), ((23, 3), 0.49528), ((64, 5), 0.49516), ((112, 2), 0.49497), ((120, 3), 0.4949), ((33, 4), 0.4948), ((47, 2), 0.49479), ((74, 2), 0.4947), ((15, 3), 0.49442), ((64, 4), 0.49432), ((91, 5), 0.49421), ((15, 2), 0.49402), ((59, 1), 0.49378), ((51, 5), 0.49376), ((126, 4), 0.49364), ((111, 4), 0.49294), ((94, 3), 0.49285), ((50, 4), 0.49281), ((75, 4), 0.49255), ((105, 2), 0.49221), ((92, 3), 0.49197), ((30, 4), 0.49185), ((17, 2), 0.49173), ((121, 5), 0.49164), ((105, 5), 0.49129), ((19, 2), 0.49122), ((97, 3), 0.49118), ((110, 4), 0.49101), ((20, 4), 0.49083), ((107, 3), 0.49075), ((107, 4), 0.49075), ((27, 5), 0.49071), ((136, 5), 0.49051), ((20, 5), 0.49036), ((35, 2), 0.49029), ((21, 4), 0.49012), ((63, 1), 0.48977), ((41, 1), 0.48976), ((37, 5), 0.48956), ((43, 2), 0.48956), ((26, 4), 0.48953), ((121, 4), 0.48945), ((42, 1), 0.48911), ((104, 3), 0.48907), ((56, 2), 0.48907), ((105, 4), 0.489), ((29, 3), 0.48893), ((2, 3), 0.48868), ((57, 5), 0.48861), ((16, 3), 0.48855), ((49, 3), 0.48829), ((87, 5), 0.48792), ((43, 3), 0.48788), ((25, 2), 0.48787), ((49, 2), 0.48758), ((30, 5), 0.48737), ((93, 1), 0.48723), ((112, 5), 0.48681), ((75, 5), 0.4865), ((9, 4), 0.48643), ((22, 4), 0.48641), ((78, 3), 0.4859), ((113, 2), 0.48585), ((81, 1), 0.4858), ((85, 5), 0.48536), ((94, 1), 0.48416), ((82, 2), 0.48413), ((10, 1), 0.48404), ((26, 5), 0.48401), ((129, 3), 0.4834), ((123, 4), 0.48271), ((101, 4), 0.48132), ((112, 4), 0.4799), ((18, 1), 0.47927), ((34, 2), 0.47816), ((32, 1), 0.47797), ((119, 4), 0.47689), ((137, 3), 0.47611), ((80, 2), 0.47368), ((31, 5), 0.47312), ((95, 1), 0.4725), ((81, 3), 0.472), ((108, 3), 0.46919), ((44, 1), 0.46807), ((1, 1), 0.46474), ((6, 1), 0.46441), ((67, 1), 0.4609), ((12, 1), 0.43759), ((76, 2), 0.43476)]

8107483721
8107511870
8107808159
8107860205

In [125]:
dota(48)

In [ ]:
carry_matchup = {}
offlane_matchup = {}
mid_matchup = {}
for i, row in teams.iterrows():
    radiant = row['radiant']
    dire = row['dire']
    radiant_win = row['radiant_win']
    radiant_carry, radiant_mid, radiant_offlane, dire_carry, dire_mid, dire_offlane = 0, 0, 0, 0, 0, 0
    for hero, pos in radiant.items():
        match pos:
            case 1:
                radiant_carry = hero
            case 2:
                radiant_mid = hero
            case 3:
                radiant_offlane = hero

    for hero, pos in dire.items():
        match pos:
            case 1:
                dire_carry = hero
            case 2:
                dire_mid = hero
            case 3:
                dire_offlane = hero


    if (radiant_carry, dire_carry) not in carry_matchup:
        carry_matchup[(radiant_carry, dire_carry)] = {"wins" : 1, "matches" : 2}
    if (radiant_mid, dire_mid) not in mid_matchup:
        mid_matchup[(radiant_mid, dire_mid)] = {"wins" : 1, "matches" : 2}
    if (radiant_offlane, dire_offlane) not in offlane_matchup:
        offlane_matchup[(radiant_offlane, dire_offlane)] = {"wins" : 1, "matches" : 2}
    if (dire_carry, radiant_carry) not in carry_matchup:
        carry_matchup[(dire_carry, radiant_carry)] = {"wins" : 1, "matches" : 2}
    if (dire_mid, radiant_mid) not in mid_matchup:
        mid_matchup[(dire_mid, radiant_mid)] = {"wins" : 1, "matches" : 2}
    if (dire_offlane, radiant_offlane) not in offlane_matchup:
        offlane_matchup[(dire_offlane, radiant_offlane)] = {"wins" : 1, "matches" : 2}

    
    if radiant_win == 1:
        carry_matchup[(radiant_carry, dire_carry)]["wins"] += 1
        mid_matchup[(radiant_mid, dire_mid)]["wins"] += 1
        offlane_matchup[(radiant_offlane, dire_offlane)]["wins"] += 1
    carry_matchup[(radiant_carry, dire_carry)]["matches"] += 1
    mid_matchup[(radiant_mid, dire_mid)]["matches"] += 1
    offlane_matchup[(radiant_offlane, dire_offlane)]["matches"] += 1

    
        
'''for (hero1, hero2), _ in carry_matchup.items():
    carry_matchup[(hero1, hero2)] = round(position_stats[(hero1, 1)] - \
                                          (carry_matchup[(hero1, hero2)]['wins'] / carry_matchup[(hero1, hero2)]['matches']), 5)'''
    

for (hero1, hero2), _ in carry_matchup.items():
    carry_matchup[(hero1, hero2)] = round((carry_matchup[(hero1, hero2)]['wins'] / carry_matchup[(hero1, hero2)]['matches']), 5)
print(carry_matchup[(94, 1)])

0.96296

In [131]:
dota.ANTIMAGE

In [44]:
pair_stats = {}

for i, row in teams.iterrows():
  for a,b in combinations(sorted(row['radiant']), r=2):
    if (a,b) not in pair_stats:
      pair_stats[(a,b)] = {'matches': 0, 'wins': 0}
    pair_stats[(a,b)]['matches']+=1
    if row['radiant_win'] == 1:
      pair_stats[(a,b)]['wins'] += 1

  for a,b in combinations(sorted(row['dire']), r=2):
    if (a,b) not in pair_stats:
      pair_stats[(a,b)] = {'matches': 0, 'wins': 0}
    pair_stats[(a,b)]['matches'] += 1
    if row['radiant_win'] == 0:
      pair_stats[(a,b)]['wins'] += 1

pair_synergy = {}

for pair, stats in pair_stats.items():
  if stats['matches'] >= 10:
    pair_synergy[pair] = stats['wins']/stats['matches']

In [45]:
matchup_stats = {}
hero_stats = {}
for i, row in teams.iterrows():
  radiant = row['radiant']
  dire = row['dire']
  radiant_win = row['radiant_win']

  for hero in radiant:
    hero_stats.setdefault(hero, {'matches': 0 , 'wins': 0})
    hero_stats[hero]['matches'] += 1
    if radiant_win == 1:
      hero_stats[hero]['wins'] += 1

  for hero in dire:
    hero_stats.setdefault(hero, {'matches': 0 , 'wins': 0})
    hero_stats[hero]['matches'] += 1
    if radiant_win == 0:
      hero_stats[hero]['wins'] += 1

  for a, b in product(radiant, dire):
    pair = (a,b)
    if pair not in matchup_stats:
      matchup_stats[pair] = {'matches': 0 , 'wins': 0}
    matchup_stats[pair]['matches'] += 1
    if radiant_win == 1:
      matchup_stats[pair]['wins'] += 1

matchup_synergy = {}

for (a,b), stats in matchup_stats.items():
  w, m = stats['wins'], stats['matches']

  if m==0 or hero_stats[a]['matches'] == 0:
    continue

  matchup_synergy[(a,b)] = w / m - hero_stats[a]['wins'] / hero_stats[a]['matches']
matchup_synergy

KeyboardInterrupt:

In [ ]:
hero_stats_time = {}

for _, row in teams.iterrows():
    radiant = row['radiant']
    dire = row['dire']
    radiant_win = row['radiant_win']
    game_time = row['duration']

    time_category = None
    if game_time < 25:
        time_category = 1
    elif 25 <= game_time < 30:
        time_category = 2
    elif 30 <= game_time < 32.5:
        time_category = 3
    elif 32.5 <= game_time < 35:
        time_category = 4
    elif 35 <= game_time < 37.5:
        time_category = 5
    elif 37.5 <= game_time < 40:
        time_category = 6
    elif 40 <= game_time < 50:
        time_category = 7
    elif game_time >= 50:
        time_category = 8

    if time_category:
        for hero in radiant:
            hero_stats_time.setdefault(hero, {1: {'matches': 0, 'wins': 0}, 2: {'matches': 0, 'wins': 0},\
                                              3: {'matches': 0, 'wins': 0}, 4: {'matches': 0, 'wins': 0},\
                                              5: {'matches': 0, 'wins': 0}, 6: {'matches': 0, 'wins': 0},\
                                              7: {'matches': 0, 'wins': 0}, 8: {'matches': 0, 'wins': 0}})
            hero_stats_time[hero][time_category]['matches'] += 1
            if radiant_win == 1:
                hero_stats_time[hero][time_category]['wins'] += 1

        for hero in dire:
            hero_stats_time.setdefault(hero, {1: {'matches': 0, 'wins': 0}, 2: {'matches': 0, 'wins': 0},\
                                              3: {'matches': 0, 'wins': 0}, 4: {'matches': 0, 'wins': 0},\
                                              5: {'matches': 0, 'wins': 0}, 6: {'matches': 0, 'wins': 0},\
                                              7: {'matches': 0, 'wins': 0}, 8: {'matches': 0, 'wins': 0}})
            hero_stats_time[hero][time_category]['matches'] += 1
            if radiant_win == 0:
                hero_stats_time[hero][time_category]['wins'] += 1

for hero, times_stats in hero_stats_time.items():
    for time_cat, stats in times_stats.items():
        matches = stats['matches']
        wins = stats['wins']
        if matches > 0:
            overall_win_rate = hero_stats[hero]['wins'] / hero_stats[hero]['matches'] if hero_stats[hero]['matches'] > 0 else 0
            hero_stats_time[hero][time_cat] = (wins / matches) - overall_win_rate
        else:
            hero_stats_time[hero][time_cat] = 0.0
hero_stats_time[1]

{1: 0.0, 2: 0.0, 3: 0.0, 4: 0.0, 5: 0.0, 6: 0.0, 7: 0.0, 8: 0.0}

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
hero_own_st = list(hero_stats_time[59].items())
for i in range(len(hero_own_st)):
  hero_own_st[i]=list(hero_own_st[i])
  game_time=hero_own_st[i][0]
  time_category = None
  if game_time == 1:
      time_category = 25
  elif game_time == 2:
      time_category = 30
  elif game_time == 3:
      time_category = 32.5
  elif game_time == 4:
      time_category = 35
  elif game_time == 5:
      time_category = 37.5
  elif game_time == 6:
      time_category = 40
  elif game_time == 7:
      time_category = 50
  elif game_time == 8:
      time_category = 60
  hero_own_st[i][0]=time_category
gg=pd.DataFrame(hero_own_st,columns=['time', 'strenght'])
sns.set_style("darkgrid")
sns.lineplot(data=gg, x="time", y="strenght")

ModuleNotFoundError: No module named 'matplotlib'

In [ ]:
train = pd.DataFrame()

train['r_synergy'] = data[['r_1', 'r_2', 'r_3', 'r_4', 'r_5']].apply(lambda x: synergy(x.dropna().tolist()), axis=1)
train['d_synergy'] = data[['d_1', 'd_2', 'd_3', 'd_4', 'd_5']].apply(lambda x: synergy(x.dropna().tolist()), axis=1)

train['r_time'] = data.apply(lambda x: time_strenght(x[['r_1', 'r_2', 'r_3', 'r_4', 'r_5']].dropna().tolist(), x['duration']), axis=1)
train['d_time'] = data.apply(lambda x: time_strenght(x[['d_1', 'd_2', 'd_3', 'd_4', 'd_5']].dropna().tolist(), x['duration']), axis=1)

train['csynergy'] = data.apply(lambda row: counter_synergy(row[['r_1', 'r_2', 'r_3', 'r_4', 'r_5']].dropna().tolist(), row[['d_1', 'd_2', 'd_3', 'd_4', 'd_5']].dropna().tolist()), axis=1)
train

      r_synergy  d_synergy    r_time    d_time  csynergy
0      0.542335   0.534120 -0.041969 -0.117468  0.018983
1      0.489717   0.471569  0.021094 -0.051753  0.109756
2      0.529807   0.510790  0.017799  0.005795  0.100524
3      0.515836   0.434831 -0.002896 -0.004667  0.076250
4      0.497146   0.483657  0.037845 -0.020335 -0.008919
...         ...        ...       ...       ...       ...
5560   0.463237   0.519523 -0.034645  0.002537 -0.023270
5561   0.478281   0.466881  0.021208  0.007308  0.044062
5562   0.497625   0.480441  0.023491  0.000293  0.066392
5563   0.507100   0.510618  0.008843 -0.010588 -0.012303
5564   0.491066   0.456237 -0.031363  0.030358  0.066109

[5565 rows x 5 columns]

In [ ]:
!pip install optuna
import numpy as np
import pandas as pd
import lightgbm as lgb
import seaborn as sns
import optuna
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import accuracy_score, roc_auc_score
import joblib

Collecting optuna
  Downloading optuna-4.6.0-py3-none-any.whl.metadata (17 kB)
Requirement already satisfied: alembic>=1.5.0 in /usr/local/lib/python3.12/dist-packages (from optuna) (1.17.2)
Collecting colorlog (from optuna)
  Downloading colorlog-6.10.1-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (from optuna) (2.0.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.12/dist-packages (from optuna) (25.0)
Requirement already satisfied: sqlalchemy>=1.4.2 in /usr/local/lib/python3.12/dist-packages (from optuna) (2.0.45)
Requirement already satisfied: tqdm in /usr/local/lib/python3.12/dist-packages (from optuna) (4.67.1)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.12/dist-packages (from optuna) (6.0.3)
Requirement already satisfied: Mako in /usr/local/lib/python3.12/dist-packages (from alembic>=1.5.0->optuna) (1.3.10)
Requirement already satisfied: typing-extensions>=4.12 in /usr/local/lib/python3.12/dist-packages (from alembic>=1.5.0->optuna) (4.15.0)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=1.4.2->optuna) (3.3.0)
Requirement already satisfied: MarkupSafe>=0.9.2 in /usr/local/lib/python3.12/dist-packages (from Mako->alembic>=1.5.0->optuna) (3.0.3)
Downloading optuna-4.6.0-py3-none-any.whl (404 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 404.7/404.7 kB 8.1 MB/s eta 0:00:00
Downloading colorlog-6.10.1-py3-none-any.whl (11 kB)
Installing collected packages: colorlog, optuna
Successfully installed colorlog-6.10.1 optuna-4.6.0

In [ ]:
y = target
X = train

In [ ]:
def evaluate_lgbm(params):
    params["objective"] = "binary"
    params["metric"] = "binary_logloss"
    params["boosting_type"] = "gbdt"
    params["verbosity"] = -1
    params["n_jobs"] = -1

    kf = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)
    aucs = []

    for train_idx, val_idx in kf.split(X, y):
        X_train, X_val = X.iloc[train_idx], X.iloc[val_idx]
        y_train, y_val = y.iloc[train_idx].values.ravel(), y.iloc[val_idx].values.ravel()

        model = lgb.LGBMClassifier(**params)
        model.fit(
            X_train, y_train,
            eval_set=[(X_val, y_val)],
            eval_metric="binary_error",
            callbacks = [lgb.early_stopping(100,verbose=False)]
        )

        preds = model.predict_proba(X_val)[:, 1]
        auc = roc_auc_score(y_val, preds)
        aucs.append(auc)

    return np.mean(aucs)

In [ ]:
def objective(trial):
    params = {
        "num_leaves": trial.suggest_int("num_leaves", 16, 256),
        "learning_rate": trial.suggest_float("learning_rate", 0.005, 0.1, log=True),
        "feature_fraction": trial.suggest_float("feature_fraction", 0.6, 1.0),
        "bagging_fraction": trial.suggest_float("bagging_fraction", 0.6, 1.0),
        "bagging_freq": trial.suggest_int("bagging_freq", 1, 10),
        "min_child_samples": trial.suggest_int("min_child_samples", 5, 100),
        "lambda_l1": trial.suggest_float("lambda_l1", 0.0, 5.0),
        "lambda_l2": trial.suggest_float("lambda_l2", 0.0, 5.0),
        "n_estimators": 1000,
    }

    return evaluate_lgbm(params)

In [ ]:
study = optuna.create_study(direction="maximize")
study.optimize(objective, n_trials=300)

In [ ]:
best_params = study.best_params.copy()
best_params.update({
    "objective": "binary",
    "metric": "binary_logloss",
    "boosting_type": "gbdt",
    "verbosity": -1,
    "n_jobs": -1,
})

final_model = lgb.LGBMClassifier(**best_params)
final_model.fit(X, y)

/usr/local/lib/python3.12/dist-packages/sklearn/preprocessing/_label.py:93: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.12/dist-packages/sklearn/preprocessing/_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

LGBMClassifier(bagging_fraction=0.6001337645021658, bagging_freq=8,
               feature_fraction=0.9167013213560182, lambda_l1=4.263501571660229,
               lambda_l2=4.697388993527136, learning_rate=0.03328920032190045,
               metric='binary_logloss', min_child_samples=34, n_jobs=-1,
               num_leaves=186, objective='binary', verbosity=-1)

In [ ]:
joblib.dump(final_model, "model.pkl")

['model.pkl']

In [ ]:
model = joblib.load("model.pkl")

In [ ]:
# вероятность победы Radiant
proba = model.predict_proba(X)[:, 1]

# бинарный прогноз (0 = Dire win, 1 = Radiant win)
pred = model.predict(X)

In [ ]:
acc = accuracy_score(y, pred)
auc = roc_auc_score(y, proba)
print(f"Final Accuracy: {acc:.4f}")
print(f"Final AUC: {auc:.4f}")

Final Accuracy: 0.9364
Final AUC: 0.9851

In [ ]:
def prediction(radiant, dire, model):
  r_synergy_val = synergy(radiant)
  d_synergy_val = synergy(dire)
  csynergy_val = counter_synergy(radiant, dire)

  local_data = []
  for duration in range(1,9):
    local_data.append([
              r_synergy_val,
              d_synergy_val,
              csynergy_val,
              time_strenght(radiant, duration, duration),
              time_strenght(dire, duration, duration)
              ])

  proba = model.predict_proba(local_data)
  return {"Radiant": proba[0][1], "Dire": proba[0][0], "Time": 1}, {"Radiant": proba[1][1], "Dire": proba[1][0], "Time": 2},\
    {"Radiant": proba[2][1], "Dire": proba[2][0], "Time": 3}, {"Radiant": proba[3][1], "Dire": proba[3][0], "Time": 4},\
     {"Radiant": proba[4][1], "Dire": proba[4][0], "Time": 5}, {"Radiant": proba[5][1], "Dire": proba[5][0], "Time": 6},\
     {"Radiant": proba[6][1], "Dire": proba[6][0], "Time": 7}, {"Radiant": proba[7][1], "Dire": proba[7][0], "Time": 8}

In [ ]:
prediction(
    [
     1,1,1,1,1
     ],[
     3,2,2,2,2
     ],
    model)

/usr/local/lib/python3.12/dist-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but LGBMClassifier was fitted with feature names
  warnings.warn(

({'Radiant': np.float64(0.337159204470505),
  'Dire': np.float64(0.662840795529495),
  'Time': 1},
 {'Radiant': np.float64(0.08318481218630873),
  'Dire': np.float64(0.9168151878136913),
  'Time': 2},
 {'Radiant': np.float64(0.27940858739600083),
  'Dire': np.float64(0.7205914126039992),
  'Time': 3},
 {'Radiant': np.float64(0.9472754826138814),
  'Dire': np.float64(0.05272451738611861),
  'Time': 4},
 {'Radiant': np.float64(0.06899174759113565),
  'Dire': np.float64(0.9310082524088643),
  'Time': 5},
 {'Radiant': np.float64(0.05752071458447051),
  'Dire': np.float64(0.9424792854155295),
  'Time': 6},
 {'Radiant': np.float64(0.4238130835451205),
  'Dire': np.float64(0.5761869164548795),
  'Time': 7},
 {'Radiant': np.float64(0.06899174759113565),
  'Dire': np.float64(0.9310082524088643),
  'Time': 8})